<% if @examples.length == 0 %>

<div class="device-box">Sorry, there are no examples for this device. Please select another.</div>

<% else %>

<div class="device-box">You searched for <b><% @query %></b>.</div>

<% @examples.each do |example | %>

<div class="device-box">

<h1><%= example.text %></h1>

</div>

<% end %>

<% end %>