@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body {
  background: url('books-min.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

.browse {
  margin: 15px;
}

.navbar {
  background: rgb(91,4,47);
  border: none;
  color: rgb(217,174,184);
}

.navbar .navbar-brand {
  color: rgb(217,138,159);
  font-family: 'Oswald', arial;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.5em;
}

.navbar-default button.navbar-toggle, .navbar-default button.navbar-toggle:focus,  {
  border-color: rgb(217,138,159);
  background-color: transparent;
}

.navbar-default button.navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(217,138,159);
}

.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:active {
  color: rgb(217,138,159);
}

.navbar-default .navbar-nav .open ul.dropdown-menu > li > a:link, .navbar-default .navbar-nav .open ul.dropdown-menu > li > a:active, .navbar-default .navbar-nav .open ul.dropdown-menu > li > a:visited {
    color: rgb(217,138,159);
  }

.navbar-default .navbar-nav > li > a:hover, .navbar .navbar-brand:hover, ul.dropdown-menu li a:hover {
  color: rgb(242,204,181);
}

.navbar-default .navbar-nav .open ul.dropdown-menu > li > a:hover {
  color: rgb(242,204,181);
}

.navbar-default .navbar-nav li > a.dropdown-toggle:link, .navbar-default .navbar-nav li > a.dropdown-toggle:active, .navbar-default .navbar-nav li > a.dropdown-toggle:visited {
  background: transparent;
  color: rgb(217,138,159);
}

ul.dropdown-menu {
  background: rgb(91,4,47);
}

ul.dropdown-menu a:link, ul.dropdown-menu a:active, ul.dropdown-menu a:visited {
  background: rgb(91,4,47);
  color: rgb(217,138,159);
}

a {
  transition-property: color;
  transition-duration: .5s;
}

.device-box {
  width: 60%;
  margin: 0 15% 0 25%;
  margin-top: 50px;
  text-align: center;
}

.device-box .bg {
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  border-radius: 20px;
}

#btn-reveal, #btn-another:link, #btn-another:active, #btn-another:visited {
  background: rgb(91,4,47);
  color: rgb(217,174,184);
  border: none;
  border-radius: 10px;
  transition-property: all;
  transition-duration: .5s;
}

#btn-reveal {
  padding: 10px;
}

#btn-another {
  padding: 12px;
  margin-left: 25px;
}

#btn-another:link, #btn-another:active, #btn-another:visited, #btn-another:hover {
  text-decoration: none;
}

#btn-reveal:hover, #btn-another:hover {
  background: rgb(217,174,184);
  color: rgb(91,4,47);
}

h1, h2 {
  margin: 0;
}

h2#answer {
  transition-property: all;
  transition-duration: .5s;
}

.invisible {
  opacity: 0;
}

@media (max-width: 767px) {
  .device-box {
    width: 90%;
    margin: 0 auto;
  }
}